<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d | %-5p | %-24.24c{1} | %-10t | %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <logger name="org.demo" level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>